.form-group {
  position: relative;
}

.form-group.required:before {
  content: '*';
  display: block;
  position: absolute;
  top: 2em;
  left: 3px;
  color: #333;
}

textarea.post-input {
  height: 300px;
}
