{% extends "base.html.j2" %}
{% block content %}
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {% for post in posts %}
            <div class="post-preview">
                <a href="/post/{{post.id}}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <!-- <h3 class="post-subtitle">
                        Problems look mighty small from 150 miles up
                    </h3> -->
                </a>
                <p class="post-meta">Posted by <a href="#">USERNAME</a> on {{ post.created }}</p>
            </div>
            <hr>
          {% endfor %}
          <!-- Pager -->
          <!-- <ul class="pager">
              <li class="next">
                  <a href="#">Older Posts &rarr;</a>
              </li>
          </ul> -->
      </div>
  </div>
{% endblock %}
