{% extends "base.html.j2" %}
{% block content %}
  <div class="row">
    <h1>Register</h1>
    <form method="post" action="/register">
      <div class="form-group{% if errors.username %} has-error{% endif %}">
        <label for="username" required>Username</label>
        <input class="form-control" type="text" id="username" name="username">
        {% if errors.username %}
          <p class="error bg-danger">{{errors.username}}</p>
        {% endif %}
      </div>
      <div class="form-group{% if errors.password %} has-error{% endif %}">
        <label for="password" required>Password</label>
        <input class="form-control" type="text" id="password" name="password">
        {% if errors.password %}
          <p class="error bg-danger">{{errors.password}}</p>
        {% endif %}
      </div>
      <div class="form-group{% if errors.password_verify %} has-error{% endif %}">
        <label for="password-verify" required>Password Verify</label>
        <input class="form-control" type="text" id="password-verify" name="password-verify">
        {% if errors.password_verify %}
          <p class="error bg-danger">{{errors.password_verify}}</p>
        {% endif %}
      </div>
      <div class="form-group{% if errors.email %} has-error{% endif %}">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email">
        {% if errors.email %}
          <p class="error bg-danger">{{errors.email}}</p>
        {% endif %}
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
{% endblock %}
